@charset 'utf-8';

.map {
    position: relative;
}

.map strong {
    font-size: 2rem;
    font-weight: 700;
    color: var(--main-color);
    overflow: hidden;
}

.map-view iframe {
    height: 100vh;
}

.map-search {
    position: absolute;
    top: 0;
    right: 0;
    width: 64.6rem;
    height: 100vh;
    padding: 0 4rem;
    background: var(--white100);
    box-shadow: 0px -30px 30px rgba(14, 33, 27, 0.15);
    transition: transform 0.4s ease;
}

.btn-fold {
    content: "";
    position: absolute;
    top: 50%;
    right: 63rem;
    width: 4rem;
    height: 13.6rem;
    background: var(--white100) url(../img/arrow-m-right.png) no-repeat 30% 50%;
    border-radius: 5px;
    cursor: pointer;
}

.map-search.on {
    transform: translateX(100%); /* 오른쪽으로 밀려나게 설정 */
}

.map-search.on .btn-fold {
    background-image: url(../img/arrow-m-left.png);
}

.map-search > strong {
    display: block;
    margin-top: 5rem;
}

.search {
    margin-top: 4rem;
}

.map-filter {
    border-top: none;
    border-bottom: none;
    position: relative;
}

.map-filter::after {
    content: "";
    position: absolute;
    top: 10.5rem;
    right: -3rem;
    display: block;
    width: 62rem;
    height: 1px;
    background: var(--black20);
}

.map-filter > strong {
    display: block;
    margin-top: 6rem;
}

.map-info > li:last-child {
    border-bottom: none;
}

.map-filter ul {
    gap: 0;
}
