@charset "utf-8";
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard-dynamic-subset.min.css");
:root {
    --text-color: #000;
}

.inner {
    width: 82.5rem;
    margin: 0 auto;
}
img {
    width: 100%;
    object-fit: contain;
}

body {
    font: 1rem/1.6 "Pretendard" !important;
    margin: 0;
    padding: 0;
}
