@charset 'utf-8';
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");
:root {
    --main-color: #009be6;
    --text-color: #333;
}

/* common */
html {
    font-size: 100%; /* fz100p : 16px */
    font-size: 62.5%; /* fz62.5p : 10px = 1rem */
    /* 16*62.5p */
    scroll-behavior: smooth;
}

body {
    font: 1.6rem/1.5 Pretendard, sans-serif;
    color: var(--text-color);
    text-transform: capitalize; /* ttc: 단어의 첫 글자를 대문자로 */
    word-break: keep-all; /* 어절단위 줄바꿈 */
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: none;
    clear: var(--main-color);
}

img {
    max-width: 100%;
    height: 100%;
    object-fit: cover;
}

hr,
.hidden {
    position: absolute;
    margin: -1px;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
}

section {
    padding: 10rem 0;
}

/* inner */
.inner {
    width: 134.4rem;
    margin: 0 auto;
    /* background: rgba(255, 255, 0, 0.3); */
}

/* set-title */
.set-title {
    font-size: 4.8rem;
    font-weight: 700;
    text-align: center;
    color: var(--main-color);
}

/* sub-공통디자인 */
.sub-set-title {
    font-weight: 600;
    font-size: 4.8rem;
    margin-top: 1.5rem;
}

/* NOTICE */

.notice-info {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #d9d9d9;
    height: 10rem;
}

.notice-title {
    font-weight: 600;
    font-size: 2rem;
}
.notice-list li a {
    width: 125.1rem;
    display: flex;
    justify-content: space-between;
}

.news {
    display: flex;
    gap: 2.5rem;
    align-items: center;
}

/* footer */
.footer-weap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 14.5rem;
}

.f-info {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 45px;
}

.f-logo {
    width: 151px;
    height: auto;
}

.f-info-txt {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
}
.sns {
    width: 100%;
    height: 24px;
    display: flex;
    align-items: flex-start;
    gap: 12px;
}

.f-gnb {
    display: flex;
    gap: 4.8rem;
}

.f-gnb li {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
}

.f-gnb li a {
    font-weight: 600;
    font-size: 20px;
}

.footer-sub-menu {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
}

.footer-sub-menu li a {
    font-weight: 400;
    font-size: 16px;
    text-align: left;
}

footer {
    padding-bottom: 10rem;
}

/* 반응형 공통영역 */
@media (max-width: 1100px) {
    .inner {
        width: 90%;
    }
    section {
        padding: 5rem 0;
    }
    .notice-list li a {
        width: 100%;
        display: flex;
        justify-content: space-between;
        gap: 21rem;
    }
    .notice-info {
        width: 100%;
        height: 14rem;
    }
    .news {
        gap: 3.5rem;
    }
    .f-gnb {
        display: none;
    }
    .footer-weap {
        margin-left: 5rem;
    }
    .sub-set-title {
        margin-top: 5rem;
        font-size: 3.8rem;
    }
}

@media (max-width: 600px) {
    .news {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        flex-wrap: wrap;
        justify-content: center;
        /* align-content: center; */
    }
    .notice-list strong {
        font-size: 1.6rem;
    }
    .notice-list li a {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 0.2rem;
        font-size: 1.3rem;
    }
    .f-gnb {
        display: none;
    }
    .footer-weap {
        margin: 0;
        width: 100%;
    }
    .artist-swiper .swiper-pagination {
        margin-bottom: 2rem;
    }
    .set-title {
        font-size: 3rem;
    }
    .sub-set-title {
        font-size: 2.8rem;
    }
}
