@charset 'utf-8';

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.h-logo {
    width: 151px;
    height: 52px;
}

.inner {
    /* width: 1344px; */
    margin: 0 auto;
}

#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    /* position: fixed; */
    left: 0;
    top: 0;
    width: 100%;
    height: 140px;
    /* transition: all 0.5s; */
    background-color: rgba(255, 255, 255, 0.9);
}

#header > h1 {
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
}

#header > h1 > a {
    font-size: 24px;
    color: #fff;
}

#header:hover > h1 > a {
    color: #232323;
}

#header .gnb {
    text-align: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    gap: 20px;
}

#header .gnb > ul {
    display: flex;
    gap: 25px;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

#header .gnb > ul > li {
    position: relative;
}

#header .gnb > ul > li > a {
    display: block;
    padding: 0 15px;
    font-weight: 600;
    font-size: 2.2rem;
    color: #000;
    line-height: 80px;
    white-space: nowrap;
    text-decoration: none;
}

#header:hover .gnb > ul > li > a {
    color: #232323;
}

#header .gnb > ul > li:hover > a {
    background-color: var(--main-color);
    color: #fff;
}

#header .gnb > ul > li .sub_gnb {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 10;
    background-color: var(--main-color);
    min-width: 200px;
    margin: 0;
    padding: 15px 0;
    list-style-type: none;
    text-align: left;
}

#header .gnb > ul > li:hover .sub_gnb {
    display: block;
}

#header .gnb > ul > li .sub_gnb > li {
    display: block;
}

#header .gnb > ul > li .sub_gnb > li > a {
    display: block;
    padding: 10px 15px;
    font-size: 16px;
    color: #fff;
    white-space: nowrap;
    text-decoration: none;
}

#header .gnb > ul > li .sub_gnb > li > a:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.menu,
.mobile-gnb {
    display: none;
}

.visual {
    position: relative;
    height: 630px;
    background-color: darkslateblue;
}

.gnb-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 645px;
}
@media (max-width: 1100px) {
    #header .gnb > ul > li .sub_gnb {
        left: auto;
        right: 0;
    }
    #header .gnb > ul > li > a {
        font-size: 1.9rem;
    }
    .gnb-wrap {
        gap: 155px;
        justify-content: center;
    }
}
@media (max-width: 800px) {
    .gnb-wrap {
        gap: 11.5rem;
        justify-content: center;
    }
}

@media (max-width: 600px) {
    #header {
        padding: 0;
        height: 90px;
        position: relative;
    }
    #header .gnb {
        display: none;
    }
    .gnb-wrap {
        justify-content: space-between;
        align-items: center;
        gap: 4rem;
    }

    .h-logo {
        width: 78px;
        height: 26px;
    }

    button {
        background: none;
    }

    .menu,
    .mobile-gnb {
        display: block;
    }
    .mobile-gnb {
        /* display: none; 기본적으로 숨김 */
        position: absolute; /* 스크롤과 관계없이 고정 */
        top: 90px; /* 헤더 바로 아래 위치 */
        left: 0;
        width: 100%;
        /* max-width: 600px; */
        background-color: rgba(0, 0, 0, 1); /* 배경색 설정 */
        color: #fff;
        z-index: 9999; /* 상단에 보이게 설정 */
        padding: 20px;
        box-sizing: border-box;
    }

    .mobile-gnb ul > li {
        display: flex;
        align-items: center;
        flex-direction: column;
        /* margin-top: 2rem; */
    }

    .mobile-gnb ul > li {
        margin: 3rem 0;
    }

    .mobile-gnb ul > li > a {
        color: var(--main-color);
        font-weight: 900;
        font-size: 2.2rem;
        align-self: start;
    }

    .mobile-gnb .sub_gnb li {
        margin: 0;
        margin-top: 1rem;
    }
    .mobile-gnb .sub_gnb li a {
        font-weight: 400;
        font-size: 1.4rem;
        color: #fff; /* 서브 GNB에 흰색 글자색 적용 */
    }

    .sub_gnb {
        font-weight: 500;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        /* flex-direction: column; */
        gap: 1rem 3.5rem;
    }
}
