@charset 'utf-8';

.video-container {
    display: flex;
    justify-content: center; /* 수평 가운데 정렬 */
    align-items: center; /* 수직 가운데 정렬 (높이에 따라 필요할 수 있음) */
}

iframe {
    width: 940px; /* iframe의 너비 */
    height: 550px; /* iframe의 높이 */
}

.Goal {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
}
.Goal strong {
    font-size: 1.8rem;
    font-weight: 400;
}
.Goal p {
    margin-top: 3rem;
    text-align: left;
    font-size: 2.2rem;
    font-weight: 400;
}

.Goal b {
    display: block;
    text-align: left;

    font-weight: 600;
    font-size: 2.5rem;

    margin-top: 15rem;
}

@media (max-width: 1100px) {
    .set-title {
        font-size: 3.8rem;
    }
    .Goal p {
        font-size: 1.5rem;
    }
    .Goal b {
        font-size: 2rem;
    }
}
