@charset "utf-8";
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard-dynamic-subset.min.css");

:root {
    /* fz62.5p : 10px */
    font-size: 62.5%;
    --main-color: #057a56;
    --sub-color: #ff6c00;
    --point-color: #ef2d44;
    --dark100: #333333;
    --dark50: #555555;
}

.inner {
    max-width: 68.75%;
    margin: 0 auto;
}

body {
    color: #333;
    font: 1rem/1.5 "pretendard", sans-serif;
    text-transform: capitalize; /* ttc */
    word-break: keep-all; /* wbka */
    overflow-x: hidden; /* ovxh */

    text-align: center;
}

hr,
.hidden {
    position: absolute;
    margin: -1px;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
}

a {
    text-decoration: none;
    color: inherit;
}
a:hover {
    text-decoration: none;
    color: var(--main-color);
}

.warp-swiper {
    width: 100%;
    height: 101.6rem;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.btn {
    color: #fff;

    cursor: pointer;
}
