@charset 'utf-8';

.explore-hero {
    width: 176rem;
    height: 30rem;
    border-radius: 2.4rem;
    background: url(../img/product-visual.png) no-repeat 50% 83% / cover;
    margin: 0 auto;

    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
    overflow: hidden;
}

.explore-hero h2 {
    font-weight: 600;
    font-size: 5rem;
    color: #fff;
}

.explore-intro {
    width: 100%;
    height: 20rem;
    /* background: #f9f; */

    position: relative;
}

.explore-intro h2 {
    font-weight: 700;
    font-size: 6rem;
    color: #000;

    position: absolute;
    top: 50%;
}

/* 비주얼끝*/

.comfort {
    width: 100%;
    height: 70rem;

    display: flex;
    justify-content: center;
    align-items: center;
}

.comfort ul {
    width: 100%;
    height: 100%;

    margin-top: 2rem;

    display: flex;
    gap: 2rem;
}

.comfort ul li {
    width: 50%;
    height: 45rem;
    border-radius: 1rem;
    background: #333;
    overflow: hidden;

    position: relative;
}

.comfort ul li::before {
    content: "";
    width: 100%;
    height: 30%;
    position: absolute;
    bottom: 0;
    left: 0;

    background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.4));
}

.comfort ul li::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.2);

    opacity: 0;
    transition: 0.4s;
}

.comfort ul li:hover::after {
    opacity: 1;
}

.comfort-con-wrap {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    top: 0;
    left: 0;
}

.comfort ul li figure {
    width: 100%;
    height: 100%;
}
.comfort ul li figure img {
    width: 100%;
    height: 100%;
}

.comfort ul li strong {
    font-weight: 600;
    font-size: 3.4rem;
    color: #fff;

    position: absolute;
    left: 4rem;
    bottom: 3rem;
    transition: 0.4s;

    z-index: 1;
}
.comfort ul li p {
    text-align: center;
    font-weight: 100;
    font-size: 1.4rem;
    color: #fff;

    opacity: 0;
    transition: 0.6s;

    z-index: 1;
}

.comfort ul li:hover strong {
    opacity: 0;
}

.comfort ul li:hover p {
    opacity: 1;
    font-weight: 500;
    font-size: 2.6rem;
}
/* ---------------------- */
.Sustainability {
    width: 100%;
    height: 70rem;

    display: flex;
    justify-content: center;
    align-items: center;
}

.Sustainability ul {
    margin-top: 2rem;
    width: 100%;
    height: 100%;

    display: flex;
    gap: 2rem;
}

.Sustainability ul li {
    width: 33.3333333333%;
    height: 45rem;
    background: #f00;
    border-radius: 1rem;
    overflow: hidden;
    position: relative;
}

.Sustainability ul li figure {
    width: 100%;
    height: 100%;
}
.Sustainability ul li figure img {
    width: 100%;
    height: 100%;
}

.Sustainability ul li p {
    position: absolute;
    left: 4rem;
    bottom: 4rem;
    font-weight: 600;
    font-size: 2.4rem;
    color: #fff;

    z-index: 1;
    transition: 0.3s;
    opacity: 1;
}

.Sustainability ul li:hover p {
    opacity: 1;
    transition: 0.1s;
    transform: translatex(10%);
    text-align: center;
}
.Sustainability ul li:nth-of-type(2):hover p {
    transform: translatex(18%);
}
.Sustainability ul li:nth-of-type(3):hover p {
    transform: translatex(26%);
}

.Sustainability ul li::after {
    content: "";
    width: 100%;
    height: 100%;

    position: absolute;
    left: 0;
    top: 0;

    background: rgba(0, 0, 0, 0.4);

    opacity: 1;
    transition: 0.3s;
}

.Sustainability ul li:hover::after {
    background: #83ce02;
}

.icon-wrap {
    width: 100%;
    height: 100%;

    position: absolute;
    top: 0rem;
    right: 0rem;

    opacity: 0;
    z-index: 1;
    transition: 0.3s;

    display: flex;
    justify-content: center;
    /* align-items: center; */

    left: -2rem;
    padding-top: 20%;
}

.icon-wrap img {
    width: 50%;
    height: 50%;
}

.Sustainability ul li:hover .icon-wrap {
    opacity: 1;
    padding-top: 20%;
    left: 0rem;
}
/* ............................... */
.inspiration {
    width: 100%;
    height: 100rem;

    display: flex;
    justify-content: center;
    align-items: center;
}

.inspiration ul {
    margin-top: 2rem;
    width: 100%;
    height: 100%;

    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}

.inspiration ul li {
    width: 65rem;
    height: 40rem;
    /* background: #f00; */
    border-radius: 1rem;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.inspiration ul li figure {
    width: 100%;
    height: 100%;
}
.inspiration ul li figure img {
    width: 100%;
    height: 100%;
    transition: 0.4s;
}
.inspiration ul li:hover figure img {
    transform: scale(1.05);
}

.inspiration ul li dl {
    position: absolute;
    left: 3rem;
    bottom: 3rem;
    color: #fff;
    z-index: 1;
}
.inspiration ul li dl dt {
    font-weight: 600;
    font-size: 3rem;
}
.inspiration ul li dl dd {
    font-weight: 400;
    font-size: 1.8rem;
}

.inspiration ul li::after {
    content: "";
    width: 100%;
    height: 24rem;

    position: absolute;
    left: 0;
    bottom: 0;

    background: linear-gradient(to bottom, #ffffff00, #00000070);
}

/* ...................... */
.Customize {
    width: 100%;
    height: 70rem;

    display: flex;
    justify-content: center;
    align-items: center;
}

.Customize ul {
    margin-top: 2rem;
    width: 100%;
    height: 100%;

    display: flex;
    gap: 2rem;
}

.Customize ul li {
    width: 33.3333%;
    height: 45rem;
    border-radius: 1rem;
    overflow: hidden;
    /* background: #f00; */

    transition: 0.3s;
    position: relative;
}

.Customize ul li::after {
    content: "";
    width: 100%;
    height: 100%;

    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.2);
    transition: 0.3s;
}

.Customize ul li figure {
    width: 100%;
    height: 100%;
}
.Customize ul li figure img {
    width: 100%;
    height: 100%;
}

.Customize ul li dl {
    width: 100%;
    height: 100%;

    position: absolute;
    top: 0;
    left: 0;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;

    color: #fff;
    z-index: 1;
}

.Customize ul li dl dt {
    font-weight: 600;
    font-size: 3rem;

    margin-top: 7rem;
    transition: 0.3s;
}
.Customize ul li dl dd {
    font-weight: 400;
    font-size: 1.8rem;

    opacity: 0;
    transition: 0.3s;
}

.Customize ul li:hover dl dt {
    margin-top: 2rem;
}

.Customize ul li:hover dl dd {
    opacity: 1;
}

.Customize ul li:hover::after {
    background: rgba(0, 0, 0, 0.4);
}
