@charset 'utf-8';
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");
@font-face {
    font-family: "banner";
    src: url("../fonts/Amaranth-Regular.woff");
}
@font-face {
    font-family: "heineken";
    src: url("../fonts/HEINEKEN.woff");
}
@font-face {
    font-family: "visual";
    src: url("../fonts/SDSwaggerTTF.woff");
}

:root {
    --main-color: #11520b;
    --sub-color: #e3000f;
    --white100: #fff;
    --gray1: #555;
    --gray2: #c2c2c2;
    --gray3: #818181;
    --sub-sec-title: #c5c5c5;
}

::selection {
    background: var(--main-color);
    color: #fff;
}

html {
    font-size: 62.5%;
}

body {
    font: 1.6rem/1.5 Pretendard, sans-serif;
    color: var(--text-color);
    /* text-transform: capitalize; */
    word-break: keep-all;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: none;
    color: inherit;
}

.hidden {
    position: absolute;
    margin: -1px;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
}

#header {
    background: var(--main-color);
    height: 40rem;
    position: relative;
}

.inner {
    width: 140rem;
    margin: 0 auto;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3.8rem 0;
    position: relative;
}

nav .header-logo {
    display: block;
    width: 11.8rem;
    height: 6rem;
    background: url(../img/gnb-logo.svg);
}

.header-logo a {
    display: block;
    width: 100%;
    height: 100%;
}

.gnb {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 11.2rem;
}

.gnb li {
    color: #fff;
    font-size: 2rem;
    font-weight: 500;
}

.header-icon {
    display: flex;
    gap: 4.2rem;
}

.lang {
    display: block;
    width: 2.9rem;
    height: 2.9rem;
    background: url(../img/gnb-lang.svg) no-repeat 0 0;
}

.search {
    display: block;
    width: 2.9rem;
    height: 2.9rem;
    background: url(../img/gnb-search.svg) no-repeat 0 0;
}

.tablet-menu {
    display: none;
}

.sec-title {
    margin-top: 21.3rem;
    color: var(--sub-color);
    font-size: 2.5rem;
    font-weight: 600;
    text-align: center;
}

.main-title {
    margin-top: 7.2rem;
    font-size: 4rem;
    font-weight: 700;
    color: #000;
}

.sub-title {
    margin-top: 1.8rem;
    font-size: 2.5rem;
    color: var(--gray1);
}

/* visual */
.sub-visual {
    /* background: var(--main-color); */
    position: absolute;
    top: 22%;
    left: 13%;
}

.sub-sec-title {
    font-weight: 600;
    font-size: 2.5rem;
    color: var(--sub-sec-title);
}

.sub-main-title {
    font-weight: 600;
    font-size: 4.5rem;
    color: #fff;
}

/* footer */
#footer {
    background: var(--main-color);
    color: #fff;
    padding: 7rem 0;
}

.foot-logo {
    display: block;
    background-image: url(../img/foot-logo.svg);
    width: 16rem;
    height: 8.2rem;
}

address {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 4rem;
}

.foot-con {
    display: flex;
    justify-content: start;
    flex-direction: column;
    gap: 2rem;
}

.foot-sns {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.foot-sns li {
    display: block;
    width: 3.7rem;
    height: 3.7rem;
}

.foot-sns li:nth-child(1) {
    background-image: url(../img/sns-facebook.svg);
}

.foot-sns li:nth-child(2) {
    background-image: url(../img/sns-instagram.svg);
}

.foot-sns li:nth-child(3) {
    background-image: url(../img/sns-x.svg);
}

/* top 버튼 */
.btn-top {
    position: fixed;
    background: #b90612 url(../img/arrow-top.svg) no-repeat 50% 47%;
    width: 6.7rem;
    height: 6.7rem;
    bottom: 22.6%; /* 17rem -> 22.6% */
    right: 12.5%; /* 39.4rem -> 20.5% */
    border-radius: 50%;
    box-shadow: 1px 10px 10px rgba(0, 0, 0, 0.25);
    opacity: 0;
    z-index: 1;
    transition: 0.4s;
}

.btn-top.active {
    opacity: 1;
    bottom: 15rem;
}

@media screen and (max-width: 1280px) {
    .inner {
        width: 90%;
    }

    .gnb {
        display: none;
    }

    .tablet-menu {
        display: block;
        background: url(../img/gnb-menu.svg);
        width: 2.9rem;
        height: 2.9rem;
    }
}

@media screen and (max-width: 700px) {
    .foot-logo {
        margin: 0 auto;
    }

    address {
        flex-direction: column;
        align-items: center;
        gap: 3rem;
    }
}

@media screen and (max-width: 400px) {
    .main-title {
        font-size: 3rem;
    }

    .sub-title {
        font-size: 2rem;
    }
}
