@charset "utf-8";

/* header end */
/* main s */
.shopping {
    height: 70rem;
    padding: 80px 0 0;
    margin: 0 auto;
}

.shopping-title {
    font-size: 40px;
    font-weight: 700;
    padding: 30px 0 50px;
    text-align: center;
}

.shopping-list th {
    font-weight: 600;
    font-size: 1.2rem;
    padding: 15px 10px;
    background-color: var(--black10);
    border-bottom: 1px solid var(--black60);
    border-top: 1px solid var(--black60);
}

.none-product {
    display: block;
    position: absolute;
    top: 30%;
    left: 44%;
    display: flex;
    align-items: center;
}