@charset 'utf-8';
@media screen and (max-width: 1280px) {
    .inner {
        width: 90%;
        margin: 0 auto;
    }
    #header .gnb {
        display: none;
    }
    #header .util-menu .menu {
        display: block;
        position: relative;
    }
    #header .logo a:nth-child(1) {
        width: 4rem;
        height: 4rem;
    }
    #header .logo a {
        width: 16rem;
        height: 4rem;
    }
    .menu-screen {
        width: 40vw;
    }
    .menu-logo {
        width: 16rem;
    }
    .search-txt {
        width: 17rem;
    }
}
@media screen and (max-width: 1000px) {
    .menu-screen {
        width: 40rem;
    }
}

@media screen and (max-width: 600px) {
    #header .logo a {
        width: 10rem;
        height: 2rem;
    }
    #header .logo a:nth-child(1) {
        width: 2rem;
        height: 2rem;
    }
    #header .util-menu a {
        /* display: none; */
        display: block;
        width: 2rem;
        height: 2rem;
    }
    #header .util-menu {
        gap: 1rem;
    }
    input[id="hamburger"] + label {
        width: 2rem;
        height: 2rem;
    }
    input[id="hamburger"] + label span {
        height: 2px;
    }
    .menu-gnb li a {
        font-size: 2rem;
    }
}
@media screen and (max-width: 400px) {
    .menu-screen {
        width: 100vw;
    }
}
