@charset "utf-8";
#sub {
    background: #111;
    /* width: 100%; */
    /* min-height: 100vw; */
    padding-top: 1rem;
}
body {
    perspective: 1000px;
}
#sub .inner {
    width: 52.08333333333333%;
    margin: 0 auto;
}
#character {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10rem auto 5rem;
    /* height: 20rem; */
    position: relative;
}
#character .top-character-slider {
    height: 100%;
}
#character .character-card {
    width: 10rem;
    height: 10rem;
    background: no-repeat 0% / cover;
    background-image: url(../img/pain.png);
    position: relative;
    margin: 0 auto;
}
#character .swiper-slide:nth-child(1) .character-card {
    background-image: url(../img/pain-on.png);
}
#character .swiper-slide:hover .character-card {
    background-image: url(../img/pain-on.png);
}

#character .character-card .character {
    position: absolute;
    top: 50%;
    left: 48%;
    width: 7rem;
    height: 7rem;
    transform: translate(-50%, -50%);
    background: no-repeat 0 / cover;
}
#character .btn-prev {
    position: absolute;
    left: -5rem;
    top: 40%;
    transform: translateY(-50%);
    transform: rotate(225deg);
    width: 30px;
    height: 30px;
    border-top: 5px solid #fff;
    border-right: 5px solid #fff;
}
#character .btn-next {
    position: absolute;
    right: -5rem;
    top: 40%;
    transform: translateY(-50%);
    transform: rotate(45deg);
    width: 30px;
    height: 30px;
    border-top: 5px solid #fff;
    border-right: 5px solid #fff;
}
#character .btn-next.swiper-button-disabled,
#character .btn-prev.swiper-button-disabled {
    opacity: 0.3;
}
#character .character-card .character.Wilson {
    background-image: url(../img/character/char1.webp);
}
#character .character-card .character.Willow {
    background-image: url(../img/character/char2.webp);
}
#character .character-card .character.Wolfgang {
    background-image: url(../img/character/char3.webp);
}
#character .character-card .character.Wendy {
    background-image: url(../img/character/char4.webp);
}
#character .character-card .character.xw-78 {
    background-image: url(../img/character/char5.webp);
}
#character .character-card .character.Wickerbottom {
    background-image: url(../img/character/char6.webp);
}
#character .character-card .character.Woodie {
    background-image: url(../img/character/char7.webp);
}
#character .character-card .character.Wes {
    background-image: url(../img/character/char8.webp);
}
#character .character-card .character.Maxwell {
    background-image: url(../img/character/char9.webp);
}
#character .character-card .character.Wigfrid {
    background-image: url(../img/character/char10.webp);
}
#character .character-card .character.Webber {
    background-image: url(../img/character/char11.webp);
}
#character .character-card .character.Warly {
    background-image: url(../img/character/char12.webp);
}
#character .character-card .character.Wormwood {
    background-image: url(../img/character/char13.webp);
}
#character .character-card .character.Winona {
    background-image: url(../img/character/char14.webp);
}
#character .character-card .character.Walter {
    background-image: url(../img/character/char15.webp);
}
#character .character-card .character.Wortox {
    background-image: url(../img/character/char17.webp);
}
#character .character-card .character.Wurt {
    background-image: url(../img/character/char18.webp);
}
#character .character-card .character.Wanda {
    background-image: url(../img/character/char19.webp);
}
/* .hero-wrap {
    width: 100%;
    height: 40rem;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}
.hero-wrap::after {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.4;
}
.hero-wrap iframe {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
} */
.visual {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 4rem;
    margin-top: 10rem;
}
.visual .visual-img {
    width: 35rem;
    aspect-ratio: 7/10 !important;
    /* height: 50rem; */
}
.visual .info-wrap {
    text-align: center;
}
.visual .info-wrap .job {
    font-weight: 700;
    font-size: 2.4rem;
}
.visual .info-wrap h2 {
    font-weight: 700;
    font-size: 4rem;
    color: var(--main-color);
    padding-top: 2rem;
}
.visual .info-wrap .comment {
    font-weight: 700;
    font-size: 3rem;
    padding-top: 1rem;
}
.visual .info-wrap .feature {
    font-size: 2.4rem;
    padding-top: 2rem;
}
.visual .info-wrap .food {
    font-size: 2.4rem;
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    padding-top: 1rem;
}
.visual .info-wrap .food b {
    display: block;
    width: 4rem;
    aspect-ratio: 1/1;
}
.visual .info-wrap .status {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    gap: 4rem;
    font-size: 2.4rem;
}
.visual .info-wrap .status figure {
    width: 7rem;
    aspect-ratio: 1/1;
}
#stroy {
    width: 100%;
    margin-top: 20rem;
}
.sec-title {
    font-size: 4rem;
    font-weight: 700;
    line-height: 1.6;
    text-align: center;
}
#stroy p {
    font-size: 2rem;
    font-weight: 500;
    line-height: 1.8;
    margin-top: 4rem;
    text-align: center;
}

#stroy p > a {
    color: var(--main-color);
    font-weight: 700;
}
#stroy .video-wrap {
    width: 100%;
    aspect-ratio: 16/9;
    margin: 8rem auto;
}
.skill-tree {
    margin-top: 20rem;
}
.skill-tree .sec-title {
    display: flex;
    justify-content: center;
}
.skill-tab-list {
    display: flex;
    justify-content: center;
}
.skill-tab-list li {
    width: 20%;
    text-align: center;
    font-size: 2.4rem;
    margin: 3rem 0;
    font-weight: 700;
    cursor: pointer;
    padding: 5px 30px;
    border-bottom: 1px solid #fff;
}
.skill-tab-list li.active {
    border: 1px solid #fff;
    border-bottom: 0px solid #fff;
}
.torch {
    width: 100%;
    /* display: none; */
}
.skill > .title-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.skill .black- {
    color: #fff;
    background: #000;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 2rem;
    /* border: 1px solid #fff; */
    padding: 5px 1rem;
}
.skill .gray- {
    color: #fff;
    background: gray;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    /* font-size: 2rem; */
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    padding: 5px 1rem;
}
.skill .skill-list-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
}
.black-2 {
    font-size: 1.6rem;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    padding: 5px 1rem;
}
.skill .skill-contents {
    width: 100%;
    padding: 5px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #fff;
    border: 1px solid #000;
    text-align: center;
    gap: 0.5rem;
}
.skill .skill-contents .content {
    color: #000;
}
.skill-contents-wrap {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

/* 공통 skill table css */
.skill {
    width: 100%;
}
.skill-table {
    width: 100%;
}
.skill .tab-th {
    background: #000;
    padding: 5px 10px;
    font-size: 2.4rem;
    font-weight: 700;
    border-left: 1px solid #fff;
}
.skill .tab-th:first-child {
    border-left: 0px solid #fff;
}
.skill .sub-th {
    color: #fff;
    background: #000;
    font-weight: 700;
    font-size: 2rem;
    padding: 5px 1rem;
    /* border: 1px solid #fff; */
}
.skill .sub-td {
    color: #fff;
    background: #000;
    font-weight: 500;
    padding: 5px 1rem;
}
.skill td {
    padding: 10px;
    border: 1px solid #000;
    background: #fff;
    color: #000;
    text-align: center;
    vertical-align: middle;
}
.skill td .content {
    color: #000;
    margin-top: 5px;
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    align-items: center;
}
.skill td > figure {
    display: inline-flex;
    aspect-ratio: 1/1;
}
.skill td .content span {
    display: inline-flex;
    width: 2.5rem;
    aspect-ratio: 1/1;
}
.skill .gray {
    font-weight: 700;
    padding: 5px 10px;
}
.skill .black {
}
.gray {
    color: #fff !important;
    background: gray !important;
    /* border: 1px solid #fff; */
}

.arrow {
    display: flex;
    align-items: center;
    padding: 5px 10px;
    color: #000;
    background: #fff;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
}
.alchemy-table {
    width: 100%;
}
.beard-table tr .line {
    border-right: 1px solid #fff;
}
.affinity-table .line {
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    border-right: 1px solid #fff;
}
.affinity-table .line + .line {
    border-right: 0px solid #fff;
}
.characteristic .content-wrap {
    margin-top: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}
.content-wrap .pic {
    width: 22%;
    aspect-ratio: 299/666;
}
.character-wrap {
    width: 65%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1rem;
    gap: 2rem;
}

.character-wrap dl dt {
    font-size: 2.4rem;
    font-weight: 700;
    padding: 1rem;
}
.character-wrap dl dd {
    font-size: 2rem;
    line-height: 1.6;
}
.character-wrap dl dd strong {
    color: var(--main-color);
}
.char-push {
    padding: 20rem 0;
}
.char-push-wrap {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 5rem;
    align-items: center;
}
.char-push-wrap figure {
    width: 40%;
    aspect-ratio: 7/10;
}
.char-push-info {
    text-align: center;
}
.char-push-info .status {
    display: flex;
    justify-content: space-between;
    font-size: 2.4rem;
}
.char-push-info .status .status-info figure {
    width: 8rem;
    aspect-ratio: 1/1;
}
.char-push-info .tier {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8rem;
    margin-top: 2rem;
}
.char-push-info .tier h5 {
    font-size: 16rem;
    font-weight: 700;
    color: var(--main-color);
    line-height: 1;
}
.char-push-info .tier p {
    font-size: 3rem;
    font-weight: 700;
}
.char-push-info .add-info {
    font-size: 2rem;
    font-weight: 700;
    margin-top: 2rem;
    text-align: left;
}
