@charset "UTF-8";

@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");
@font-face {
    font-family: "PuradakGentleGothicR";
    src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.1/PuradakGentleGothicR.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}

:root {
    --main-color: #bc955a;
}
html {
    font-size: 100%; /* fz100% = 16px */
    font-size: 62.5%; /* fz62.5p = 10px = 1rem */
    scroll-behavior: smooth;
}
::selection {
    background: var(--main-color);
    color: #fff;
}
body {
    font: 1.6rem/1.6 Pretendard, sans-serif;
    text-transform: capitalize; /* 단어의 첫글자 대문자로 변경 */
    word-break: keep-all;
    min-width: 30rem;
}
a {
    text-decoration: none;
    color: inherit;
}
a:hover {
    text-decoration: none;
    /* color: var(--main-color); */
}
hr,
.hidden {
    position: absolute;
    margin: -1px;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
}
img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.inner {
    width: 132rem;
    height: 100%;
    margin: 0 auto;
    /* background: rgba(255, 255, 0, 0.3); */
}
#header nav {
    width: 100%;
    height: 10rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
}
.logo a {
    display: block;
    width: 11.5rem;
    height: 4.6rem;
    background: url(../images/logo.svg) no-repeat 0 0 / contain;
}
.gnb {
    display: flex;
}
.gnb > li > a {
    font-family: PuradakGentleGothicR, sans-serif;
    color: #333;
    font-size: 2rem;
    transition: 0.4s;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 1rem 5rem;
    height: 10rem;
    background: #fff;
    z-index: 100;
}
.gnb > li > a::after {
    content: "";
    display: block;
    width: 0.1rem;
    height: 1.5rem;
    background: #666;
    position: absolute;
    top: 50%;
    right: 0%;
    transform: translateY(-50%);
}
.gnb li:last-child > a::after {
    display: none;
}
.gnb > li:hover > a {
    color: var(--main-color);
}
.gnb li {
    position: relative;
}
.gnb-sub {
    /* display: none; */
    position: absolute;
    left: 0;
    top: -200%;
    z-index: 10;
    width: 100%;
    border: 1px solid var(--main-color);
    transition: 0.4s;
}
.gnb li:hover .gnb-sub {
    top: 100%;
}
.gnb-sub li a {
    display: block;
    font-size: 1.8rem;
    font-weight: 600;
    text-align: center;
    background: rgba(255, 255, 255, 1);
    color: #333;
    padding: 1rem 0;
    transition: 0.4s;
    position: relative;
}
.gnb-sub li a::after {
    content: "";
    position: absolute;
    left: 10%;
    bottom: 0;
    width: 80%;
    height: 1px;
    background: rgba(0, 0, 0, 0.1);
}
.gnb-sub li a:hover {
    color: #fff;
    background: var(--main-color);
}
.util-menu {
    display: flex;
    gap: 2rem;
}
.util-menu .btn {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: PuradakGentleGothicR, sans-serif;
    color: #fff;
    background: var(--main-color);
    padding: 1rem 3rem;
    border-radius: 2rem;
}
.util-menu a:last-child {
    background: #000;
}
.hamburger-menu {
    display: none;
}
.menu-btn {
    width: 4.8rem;
    height: 4.8rem;
    background: url(../images/hamburger_menu.svg) no-repeat 0 0 / cover;
}
.mobile-nav {
    position: fixed;
    top: 0;
    right: -100%;
    width: 43rem;
    height: 100vh;
    background: #fff;
    overflow-y: auto;
    z-index: 100;
    transition: 0.4s;
}
.mobile-nav.active {
    right: 0;
}
.mobile-nav.active + .close-area {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vw;
    z-index: 90;
}
.mobile-util-menu {
    display: flex;
    justify-content: center;
    align-items: center;
}
.mobile-util-menu > a {
    font-size: 2.8rem;
    font-weight: 700;
    color: #333;
    padding: 2.4rem 3rem;
    border-bottom: 1px solid #f0f0f0;
}
.mobile-util-menu .mobile-login {
    color: var(--main-color);
    position: relative;
}
.mobile-util-menu .mobile-login::after {
    content: "";
    display: block;
    width: 0.2rem;
    height: 3.2rem;
    background: #dcdcdc;
    position: absolute;
    top: 50%;
    left: 100%;
    transform: translateY(-50%);
}
.mobile-gnb {
    width: 30rem;
    margin: 8rem auto;
}
.mobile-gnb > li > a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    color: #333;
    font-size: 4rem;
    font-weight: 700;
    border-bottom: 1px solid #ececec;
    padding: 2rem;
}
.mobile-gnb > li > a::after {
    content: "";
    display: block;
    width: 1.6rem;
    height: 2.4rem;
    background: url(../images/arrow.svg) no-repeat 50% / cover;
    transform: rotate(90deg);
}
.mobile-gnb > li > a.active::after {
    transform: rotate(270deg);
}
.mobile-gnb-sub {
    transition: 0.4s;
    max-height: 0;
    overflow-y: hidden;
}
.mobile-gnb-sub li a {
    display: block;
    width: 100%;
    padding: 1.1rem 3rem;
    font-size: 2.4rem;
    font-weight: 600;
    color: #333;
    background: #f0f0f0;
    border-bottom: 1px solid #dfdfdf;
}
.mobile-gnb-sub.active {
    max-height: 100vh;
}
.copyright {
    display: flex;
    justify-content: space-between;
    padding: 8rem 0;
    line-height: 1;
}
.sns {
    display: flex;
    justify-content: center;
    align-items: start;
    gap: 2rem;
}
.copyright address > div {
    display: flex;
    gap: 5rem;
}
.copyright address dl {
    display: flex;
    gap: 1rem;
}
.copyright address dl + dl {
    margin-top: 1rem;
}
.copyright address dl dt {
    color: #333;
    font-weight: 600;
}
.copyright address dl dd {
    color: #555;
}
.copyright address p {
    color: #555;
    margin-top: 2rem;
}
.title-wrap {
    margin-top: 10rem;
    display: flex;
    justify-content: space-between;
    align-items: end;
}
.title-wrap h2 {
    font-family: PuradakGentleGothicR, sans-serif;
    font-size: 5rem;
    color: var(--main-color);
}
.piece-of-bread {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.piece-of-bread li a {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    color: #555;
}
.piece-of-bread li a::before {
    display: block;
    content: "";
    width: 1.2rem;
    height: 2.4rem;
    background: url(../images/arrow.svg) no-repeat 50%;
}
.piece-of-bread li:nth-child(1) a {
    gap: 1.5rem;
}
.piece-of-bread li:nth-child(1) a::before {
    width: 2rem;
    height: 2rem;
    background-image: url(../images/chicken_icon.svg);
}
.pagenation-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 7rem 0 12rem;
}
.pagenation {
    display: flex;
    justify-content: center;
    align-items: center;
}
.page-list {
    display: flex;
    justify-content: center;
    align-items: center;
}
.page-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    aspect-ratio: 1/1;
    border: 1px solid #666;
    border-left: none;
    color: #666;
}
.page-btn.active {
    background: var(--main-color);
    color: #fff;
}
.page-btn.prev {
    border-left: 1px solid #666;
    background: url(../images/arrow.svg) no-repeat 50%;
    transform: scale(-1, 1);
}
.page-btn.next {
    background: url(../images/arrow.svg) no-repeat 50%;
}
@media screen and (max-width: 1320px) {
    .inner {
        width: 96%;
    }
    #header {
        height: 10rem;
    }
    #header nav {
        position: fixed;
        top: 0;
        left: 0;
        padding: 0 2rem;
        /* box-shadow: 0 0 4px rgba(0, 0, 0, 0.1); */
        filter: drop-shadow(0 0 4px rgba(0, 0, 0, 0.1));
        z-index: 50;
    }
    .gnb {
        display: none;
    }
    .util-menu {
        display: none;
    }
    .hamburger-menu {
        display: block;
    }
    .piece-of-bread li a {
        font-size: 2.2rem;
    }
    .page-btn {
        width: 6.8rem;
        font-size: 2.8rem;
    }
    .page-btn.prev {
        background-size: 30%;
    }
    .page-btn.next {
        background-size: 30%;
    }
}
@media screen and (max-width: 1024px) {
    .copyright {
        flex-direction: column;
    }
    .sns {
        justify-content: start;
        margin-top: 3rem;
    }
}
@media screen and (max-width: 900px) {
    .copyright address > div {
        flex-direction: column;
        gap: 1.3rem;
    }
    .copyright address dl + dl {
        margin-top: 1.3rem;
    }
    .address > p {
        margin-top: 2.6rem;
    }
    .mobile-nav {
        width: 30rem;
    }
    .mobile-util-menu a {
        font-size: 2.3rem;
    }
    .mobile-gnb {
        margin-top: 2rem;
    }
    .mobile-gnb > li > a {
        font-size: 2.4rem;
    }
    .mobile-gnb-sub li a {
        font-size: 2rem;
    }
}
@media screen and (max-width: 700px) {
    .piece-of-bread {
        justify-content: start;
    }
}
@media screen and (max-width: 350px) {
    .page-btn {
        width: 4rem;
        font-size: 1.4rem;
    }
}
