@charset "UTF-8";

#footer {
    background: rgb(12, 12, 12);
    background: linear-gradient(0deg, rgba(12, 12, 12, 1) 0%, rgba(40, 40, 40, 1) 100%);
}
.copyright address div dl dt {
    color: #fff;
}
.copyright address div dl dd,
.copyright address p {
    color: #b8b8b8;
}
.event figure {
    width: 132rem;
    height: 60rem;
    margin-top: 5rem;
}
.search-wrap {
    height: 6.5rem;
    margin-top: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}
.category {
    width: 31.5rem;
    height: 100%;
    border: 1px solid var(--main-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    font-size: 2rem;
    color: #666;
}
.category::after {
    content: "";
    display: block;
    width: 2.4rem;
    height: 1.2rem;
    background: url(../images/arrow_h.svg) no-repeat 50%;
}
.search-form {
    border: 1px solid var(--main-color);
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}
.search-form input {
    font-size: 2rem;
    padding-left: 2rem;
    width: calc(100% -2rem);
    height: 100%;
    border: none;
    outline: none;
    font-family: "Pretendard", sans-serif;
}
.btn-request {
    height: 100%;
    aspect-ratio: 1/1;
    background: url(../images/search.svg) no-repeat 50%;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10;
}
.event-list {
    margin-top: 5rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 8rem 2rem;
}
.event-list li {
    background: #f5f5f5;
    flex: 1 1 30%;
}
.event-list li a figure {
    /* width: 42.7rem; */
    aspect-ratio: 1/1;
}
.event-con {
    padding: 3rem;
}
.event-con strong {
    font-size: 2.4rem;
    color: #333;
    font-family: PuradakGentleGothicR, sans-serif;
}
.event-con p {
    margin-top: 1rem;
    font-size: 2rem;
    color: #555;
}
