@charset "utf-8";

@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/pretendard.min.css");

:root {
    --color-background: #f5f5f5;
    --color-highlight-background: #fff;

    --color-text: #222;
    --color-primary: #ffd600;

    --color-button-hover: #dbb700;

    --color-white-100: rgba(255, 255, 255, 1);
    --color-white-90: rgba(255, 255, 255, 0.9);
    --color-white-80: rgba(255, 255, 255, 0.8);
    --color-white-70: rgba(255, 255, 255, 0.7);
    --color-white-60: rgba(255, 255, 255, 0.6);
    --color-white-50: rgba(255, 255, 255, 0.5);
    --color-white-40: rgba(255, 255, 255, 0.4);
    --color-white-30: rgba(255, 255, 255, 0.3);
    --color-white-20: rgba(255, 255, 255, 0.2);
    --color-white-10: rgba(255, 255, 255, 0.1);

    --color-black-100: rgba(0, 0, 0, 1);
    --color-black-90: rgba(0, 0, 0, 0.9);
    --color-black-80: rgba(0, 0, 0, 0.8);
    --color-black-70: rgba(0, 0, 0, 0.7);
    --color-black-60: rgba(0, 0, 0, 0.6);
    --color-black-50: rgba(0, 0, 0, 0.5);
    --color-black-40: rgba(0, 0, 0, 0.4);
    --color-black-30: rgba(0, 0, 0, 0.3);
    --color-black-20: rgba(0, 0, 0, 0.2);
    --color-black-10: rgba(0, 0, 0, 0.1);

    --color-3m-brand: #ff0001;

    --swiper-pagination-bullet-size: 12px;
}
::selection {
    background: var(--color-primary);
    color: var(--color-text);
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}
body {
    font: 2.2rem/1.6 Pretendard, sans-serif;
    background: var(--color-background);
    color: var(--color-text);
    word-break: keep-all;
    min-width: 39rem;
}
a {
    text-decoration: none;
    color: inherit;
}
a:hover {
    text-decoration: none;
    color: var(--color-primary);
}
img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.hidden,
hr {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
}
.inner {
    width: 132rem;
    margin: 0 auto;
}
.section-title {
    font-weight: 700;
    /* font-size: 4.8rem; */
    font-size: clamp(3.2rem, 3.9062vw, 4.8rem);
}

.btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 1.5rem 5rem;
    background: var(--color-primary);
    color: var(--color-text);
    font-weight: 500;
    font-size: 1.6rem;
    border-radius: 3.5rem;
}
.btn:hover {
    background: var(--color-button-hover);
    color: var(--color-text);
}

#main > section:first-child {
    margin-top: 10rem;
}

#header {
    background: #fff;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    transition: 0.6s;
    /* min-height: 10rem; */
    height: 10rem;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    opacity: 1;
}
#header.hide {
    opacity: 0;
}
#header nav {
    /* position: relative; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10rem;
    position: relative;
}
#header.expand {
    height: 41rem;
}
.logo a {
    display: block;
    width: 15.6rem;
    height: 7rem;
    background: url(../img/logo.svg) no-repeat 0 0 / cover;
}
.footer-logo a {
    display: block;
    width: 15.6rem;
    height: 7rem;
    background: url(../img/footer-logo.svg) no-repeat 0 0 / cover;
}
.gnb {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10rem;
}
.gnb > li {
    position: relative;
}
.gnb > li > a {
    padding: 3rem 4rem;
    font-weight: 500;
    transition: 0.4s;
}
#header.expand .gnb > li > a {
    padding: 3rem 5rem;
}
.lnb {
    position: absolute;
    left: 0;
    top: 50px;
    z-index: 10;
    white-space: nowrap;
    width: 100%;
    font-size: 2rem;
    font-weight: 300;
    display: none;
}
.lnb li a {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem 0;
    text-align: center;
}
.util-menu {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.mobile-gnb {
    display: none;
}
#header.mobile-menu {
    position: static;
    height: 110rem; /* BAD */
    overflow-y: hidden;
}
#header.mobile-menu .mobile-gnb {
    position: absolute;
    left: 0;
    top: 12rem;
    display: flex;
    flex-direction: column;
    padding: 0 3rem;
    width: 100%;
}
#header.mobile-menu .mobile-gnb > li + li {
    margin-top: 3rem;
}
#header.mobile-menu .mobile-gnb > li > a {
    font-size: 2.4rem;
    font-weight: 600;
}
#header.mobile-menu .mobile-lnb > li {
    padding: 2rem 0 0rem 2.6rem;
}
#header.mobile-menu .mobile-lnb > li > a {
    font-size: 2rem;
    display: block;
    width: 100%;
    height: 100%;
}
#header.mobile-menu .btn-menu::after {
    content: "\EB99";
    font-size: 5rem;
}
#header.mobile-menu .mobile-gnb .select-lang {
    width: 100%;
}
#header.mobile-menu .mobile-gnb .select-lang select {
    width: 100%;
}
#header.mobile-menu .util-menu > .select-lang {
    /* display: block; */
    display: none;
}

.custom-select {
    position: relative;
}
.custom-select select {
    display: inline-flex;
    /* width: 25rem; */
    height: 5rem;
    padding: 0 4.9rem;
    border: 1px solid #444;
    border-radius: 5px;
    font-weight: 500;
    font-size: 1.6rem;
    background: transparent;
    color: #444;
    gap: 1rem;

    appearance: none; /* 오른쪽 화살표 지우기 */
    -webkit-appearance: none;
    -moz-appearance: none;
}
.custom-select select option {
    color: #444;
    font-size: 1.8rem;
    font-weight: 600;
}
.select-arrow {
    position: absolute;
    width: 16px;
    height: 16px;
    top: 50%;
    right: 1.5rem;
    transform: translateY(-50%);
    transition: 0.4s;
    background: url(../img/ico-select-arrow-up.svg) no-repeat 0 / cover;
    pointer-events: none;
}
.custom-select select:focus + .select-arrow {
    transform: translateY(-50%) rotate(180deg);
}

.family-select select {
    padding: 0 1rem;
}
.language-select::before {
    position: absolute;
    content: "\EDCF";
    color: #444;
    top: 50%;
    left: 1.5rem;
    transform: translateY(-50%);
    font-size: 2.56rem;
    font-family: "remixicon" !important;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.family-select select {
    width: 15rem;
    color: #fff;
    border-color: #fff;
    padding: 0 1.5rem;
}
.family-select::after {
    content: "\EA4E";
    position: absolute;
    color: var(--color-white-100);
    top: 50%;
    right: 1.5rem;
    font-size: 3rem;
    line-height: 0;
    font-family: "remixicon" !important;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#footer {
    /* padding: 15rem 0; */
    padding: clamp(8rem, 8.789vw, 15rem) 0;
    background: var(--color-text);
    color: var(--color-white-100);
}
.footer-content {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    font-size: 2rem;
    font-weight: 500;
}
.top-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.link-list {
    display: flex;
    gap: 8rem;
}
.link-list .highlight-link {
    font-weight: 700;
}
.separate-line {
    display: block;
    width: 100%;
    height: 1px;
    background: var(--color-white-50);
}
.bottom-menu {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.bottom-menu .information {
    display: flex;
    gap: 6rem;
}
.bottom-menu .information li {
    position: relative;
}
.bottom-menu .information li::after {
    content: "";
    position: absolute;
    top: 50%;
    right: -30px;
    transform: translateY(-50%);
    width: 1px;
    height: 15px;
    background: #fff;
}
.bottom-menu .information li:last-child:after {
    display: none;
}
.bottom-menu .information dl {
    display: flex;
    gap: 1.6rem;
    align-items: center;
}
.bottom-menu .information dl dd {
    font-weight: 400;
    font-size: 1.8rem;
    color: var(--color-white-90);
    line-height: 0;
    display: flex;
    align-items: center;
}

.btn-menu {
    display: none;
}
.btn-menu::after {
    content: "\EF3E";
    display: flex;
    align-items: center;
    justify-content: end;
    font-size: 4rem;
    width: 72px;
    height: 68px;
    font-family: "remixicon" !important;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: #fff;
}

.select-wrap {
    position: relative;
}
.select-wrap select {
    display: inline-flex;
    height: 5rem;
    padding: 0 4.9rem 0 1.5rem;
    border: 1px solid #444;
    border-radius: 5px;
    font-weight: 500;
    font-size: 1.6rem;
    background: var(--color-white-100);
    color: #444;
    gap: 1rem;

    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}
.select-wrap select option {
    color: #444;
    font-size: 1.8rem;
    font-weight: 600;
}
.select-wrap::after {
    content: "\EA4E";
    position: absolute;
    top: 50%;
    right: 1.5rem;
    transform: translateY(-50%);
    transition: 0.4s;
    font-family: "remixicon" !important;
    font-style: normal;
    font-size: 2.4rem;
    color: #444;
    pointer-events: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.select-wrap.focused::after {
    transform: translateY(-50%) rotate(180deg);
}

.select-lang select {
    padding-left: 4.9rem;
}
.select-lang::before {
    position: absolute;
    content: "\EDCF";
    color: #444;
    top: 50%;
    left: 1.5rem;
    transform: translateY(-50%);
    font-size: 2.4rem;
    font-family: "remixicon" !important;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.select-family select {
    width: 15rem;
    color: #fff;
    border-color: #fff;
    background: transparent;
}
.select-family::after {
    color: var(--color-white-100);
}

@media screen and (max-width: 1385px) {
    .inner {
        width: 90%;
    }

    .gnb {
        display: none;
    }
    .util-menu .btn-menu {
        display: block;
    }
}

@media screen and (max-width: 1030px) {
    .inner {
        width: 92.1875%;
    }

    .welcome .welcome-wrap {
        flex-direction: column;
        align-items: flex-start;
    }
}

@media screen and (max-width: 900px) {
    #footer .top-menu {
        flex-direction: column;
        align-items: flex-start;
        gap: 4rem;
    }
    #footer .link-list {
        flex-direction: column;
        gap: 1.5rem;
    }
    #footer .information {
        flex-direction: column;
        gap: 1rem;
    }
    #footer .bottom-menu .information li::after {
        display: none;
    }
}

@media screen and (max-width: 430px) {
    .inner {
        width: 90.6977%;
    }
    .util-menu .select-lang {
        display: none;
    }
}
