@charset 'utf-8';

@import url("https://fonts.cdnfonts.com/css/greater-theory");

:root {
    --main-color: #6366f7;
    --title-color: #fff;
    --title-dark-color: #121212;
    --white40: rgba(255, 255, 255, 0.4);
    --white60: rgba(255, 255, 255, 0.6);
    --black40: rgba(0, 0, 0, 0.4);
    --black60: rgba(0, 0, 0, 0.6);
}
body {
    font: 16px/1.5 Pretendard, sans-serif;
    color: var(--text-color);
    text-transform: capitalize; /* ttc: 단어의 첫글자를 대문자로 */
    word-break: keep-all; /* wbka */
    overflow-x: hidden;
}

ul,
ol,
li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

hr,
.hidden {
    position: absolute;
    margin: -1px;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
}

.btn-top {
    width: 60px;
    height: 60px;
    background: #121212 url(../img/arrow-botton.svg) no-repeat 50%;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px,
        rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;

    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 90;

    border-radius: 50px;
}
.btn-top.white {
    background-color: #fff;
    background-image: url(../img/arrow-botton-white.svg);
}

/* 프터 */
#footer {
    background: #121212;
    padding: 108px 0;
    overflow: hidden;
}
.foot-con {
    display: flex;
    justify-content: space-between;

    background: #121212;
}
.foot-logo h1 {
    width: 140px;
    height: 23px;
    background: url(../img/logo.svg) no-repeat 0 0 / contain;
}
.foot-middle {
    margin-left: -30%;
}
.foot-middle dl {
    display: flex;
    gap: 7px;

    align-items: center;
}
.foot-middle dl dt {
    font-weight: 400;
    font-size: 18px;
    color: rgba(255, 255, 255, 0.6);
}
.foot-middle dl dd {
    font-weight: 400;
    font-size: 14px;
    color: var(--white40);
}
.foot-list {
    display: flex;
    gap: 11px;
}
.foot-middle p {
    font-weight: 500;
    font-size: 16px;
    color: var(--white40);
}

.sns-list {
    display: flex;
    gap: 13px;

    text-align: center;
}
.sns-list li {
    width: 42px;
    height: 42px;
    border: 1px solid var(--white60);
    border-radius: 50%;
}
.sns-list li:nth-child(1) {
    font-size: 26px;
    color: var(--white60);
    padding: 1px;
}
.sns-list li:nth-child(2) {
    font-size: 26px;
    color: var(--white60);
    padding: 1px;
}
.sns-list li:nth-child(3) {
    font-size: 26px;
    color: var(--white60);
    padding: 1px;
}
